.nav_apropos {
  text-decoration: underline;
}

#quoi {
  margin-top: 10rem;
}

#qui {
  margin-top: 1rem;
}

#references {
  margin-top: 5rem;
}

#references h2 {
  margin-bottom: 2rem;
}
#quoi * {
  padding: 1rem;
}

#qui * {
  padding: 1rem;
}

#references * {
  padding: 0 1rem 0rem 1rem;
}

.round {
  height: 600px;
  width: 650px;
  background: linear-gradient(
    110.11deg,
    rgba(56, 210, 173, 0.47) -20.83%,
    #006d7d 25.71%,
    #142b33 63.59%
  );
  position: absolute;
  filter: blur(40px);
  z-index: -6;
  top: 18%;
  left: -150px;
  border-radius: 50%;
}

.round2 {
  height: 600px;
  width: 650px;
  background: linear-gradient(
    254.54deg,
    rgba(56, 210, 192, 0.52) -31.41%,
    #005664 23.79%,
    #142b33 60.47%
  );
  position: absolute;
  filter: blur(40px);
  z-index: -6;
  bottom: -1350px;
  left: 750px;
  border-radius: 50%;
}

#butn {
  color: #01131b;
  background-color: #f9fbff;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #f9fbff;
  display: inline-block;
  margin-bottom: 50px;
}

#butn:hover {
  color: #f9fbff;
  background-color: #01131B;
  border: 1px solid #F9FBFF; 
}

.incoming {
  margin: 20px auto;
  padding: 0 55px;
}

.incoming p{
  margin: 10px 0 30px;
}