/**************** IMPORTS ******************/
/* *************** Grille *************** */
/***************** Globales ************** */
html,
body {
  overflow-x: hidden;
}

body {
  background-color: #01131b;
  color: #f9fbff;
}

a {
  color: #f9fbff;
  text-decoration: none;
}

 a:hover {
  color: #38d2ad;
  font-weight: bold;
} 


/* **************** Typographie ********* */
/* Syncopate */
/* @import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400&display=swap'); */
@font-face {
  font-family: 'Syncopate';
  src: url(../fonts/Syncopate-Regular.ttf);
}

@font-face {
  font-family: 'Red+Hat+Display';
  src: url(../fonts/RedHatDisplay-Regular.ttf);
  src: url(../fonts/RedHatDisplay-Light.ttf);
}

/* Red hat display */
/* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.h1,
.h2,
.h4,
h1,
h2,
h4 {
  margin-top: 0;
  margin-bottom: 0rem;
  font-weight: 500;
}

h1,
h2,
h4 {
  font-family: 'Syncopate', 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1 45;
}

h3,
p,
button,
ul {
  font-family: 'Red+Hat+Display', sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Syncopate', sans-serif; */
}

.partagerEnregistrerText {
  font-size: 12px;
  font-family: 'Red+Hat+Display', sans-serif;
  font-weight: lighter;
  margin-bottom: 0rem;
  font-size: 0.6rem;
  margin-bottom: 1rem;
}
/* ************** Images & icones ****** */

.icon {
  padding: 0rem 0rem 0.4rem 0rem;
  cursor: pointer;
}

.icon2 {
  padding: 0rem 0rem 0.4rem 0rem;
  cursor: pointer;
}

.enregistrerIcon {
  margin-left: 1.5rem;
}
/* **************** Nav-Bar *************/

.navbar-expand-lg .navbar-nav .nav-link {
  color: #f9fbff;
  padding: 1.8rem 2rem;
  align-items: center;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #38d2ad;
}

header nav ul li a {
  text-decoration: none;
  color: #f9fbff;
  text-transform: uppercase;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

.ms-5 {
  margin: 0;
}

/* aspect de la nav-Bar au scroll */
.nav-bg {
  background-color: #01131b;
  /* border-bottom: 1px solid #F9FBFF; */
}

/***************** FOOTER ****************/

footer {
  background-color: #01131b;
  border-top: 1px solid #f9fbff;
  margin-top: 12rem;
}

footer h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#blog {
  padding: 1rem 0rem 0rem 1rem;
}

.liensContact a {
  padding-right: 1rem;
  background-clip: border-box;
  text-decoration: none;
}

.RS img {
  padding-top: 1.5rem;
  padding-right: 1rem;
}

.pictologo:hover {
  background-color:#38d2ad;
  background-size: auto;
  background-clip: content-box /* Annulation du débordement du background */
}

.copyright {
  text-align: center;
  margin-top: 2rem;
}

footer input[type='text'] {
  width: 100%;
  border: none;
  border-bottom: 2px solid #f9fbff;
  outline: none;
  background-color: #01131b;
  color: #f9fbff;
}

footer input[type='email'] {
  width: 100%;
  border: none;
  border-bottom: 2px solid #f9fbff;
  outline: none;
  background-color: #01131b;
  color: #f9fbff;
  margin: 1rem 0;
}

#newsletter form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

footer input[type='submit'] {
  background-color: #f9fbff;
  color: #01131b;
  font-weight: lighter;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  border: none;
}

footer input[type='submit']:hover {
  background-color: #01131b;
  color: #f9fbff;
  border: 1px solid #f9fbff;
}

