/* MAIN------------------------------------------- */
main .container {
  width: 1069px;
  height: 568px;
  border: solid 2px #f9fbff;
  padding: 50px 50px;
  margin-top: 10rem;
}

main input {
  width: 80%;
  border: none;
  border-bottom: 2px solid #f9fbff;
  background-color: #01131b;
  margin-top: 5%;
  margin-bottom: 3%;
  color: #f9fbff;
}

main input[type='submit'] {
  background-color: #f9fbff;
  color: #01131b;
  width: 30%;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 15px 20px;
  margin: 5%;
  text-align: center;
}

main input[type='submit']:hover {
  background: #01131b;
  color: #f9fbff;
  text-decoration: none;
  background-clip: padding-box;
  box-shadow: none;
  border-bottom: none;
  border: solid 1px #f9fbff;

}
input {
  -webkit-appearance: none;
  appearance: none;
}

.container{
    background-color: #01131b;
}

a {
  text-decoration: none;
}

/* #navlink {
  color: #f9fbff;
  font-size: 20px;
  position: relative;
}

#navlink:after {
  bottom: -1px;
  content: '';
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  color: #38d2ad;
  background: #38d2ad;
  opacity: 0.6;

  width: 0;
}

#navlink:hover:after {
  width: 100%;
  opacity: 0.9;
} */

.round {
    height: 600px;
    width: 650px;
    background: linear-gradient(110.11deg, rgba(56, 210, 173, 0.47) -20.83%, #006d7d 25.71%, #142B33 63.59%);
    position: absolute;
    filter: blur(40px);
    z-index: -6;
    top: 18%;
    left: -150px;
    border-radius: 50%;
  }