main{
    backdrop-filter: blur(80px);

}

/* body{
    background-color: black;
}
 */
/* Heroshot---------------- */
header{
    height: auto;

}
#btn {
    color: #01131B;
    background-color: white;
    padding: 15px 80px;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

/* CookiesBar-------------------------------------- */

#cookiesText {
    color: #01131B;
    background-color: #F9FBFF;
}


/* MAIN-------------------------------------------- */
/* SECTION articleAlaUne--------------------------- */

#articleAlaUne h1{
    padding: 130px 0px 70px 0px;
}

#carouselExampleCaptions h5 {
    text-transform: uppercase;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.75) );
}

#carouselExampleCaptions p {
    text-decoration: underline;
}

/* SECTION dataViz------------------------------------------ */
#dataViz h1{
    padding-top: 200px;
    padding-bottom: 46px;
}

#dataViz h4{
    font-size: 18px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: lighter;
    text-transform: initial;
} 


/* SECTION pictoInfo--------------------------- */
/* .picto{
   filter: invert(100%) saturate(100%) brightness(100%) contrast(100%);
   margin: 10px;
} */

.chiffrePicto{
    font-size: 70px;
}

#pictoInfo {
    margin-top: 115px;
}

#pictoInfo h3{
    margin: 10px;
}

/* SECTION citation---------------------------------- */

#citation {
    font-weight: bold;
    font-weight: normal;
    font-style: italic ;
    text-transform: uppercase;
    text-align: center;
}