/* 15/12 scrollX--------------------- */
html,
body {
    overflow-x: hidden;
}

/* Heroshot---------------- */
header {
    height: auto;
}

#titreHeroshot {
    position: absolute;
    top: 25%;
}

#titreHeroshot h1 {
    margin-bottom: revert;
}

#btn {
    color: #01131B;
    background-color: #F9FBFF;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
}

#videoDiv {
    object-fit: cover;
}

/* CookiesBar-------------------------------------- */
#cookiesBar {
    position: absolute;
    z-index: 2;
    top: 615px;
}

#cookiesBar p {
    text-align: center;
    color: #01131B;
    background-color: #F9FBFF;
    padding: 1.5% 1.5% 1.5% 1.5%;
}

#cookiesBar a {
    color: #01131B;
}

#cookiesBar button {
    background-color: #01131B;
    border: none;
    padding: 1rem 1rem;
}


/* MAIN-------------------------------------------- */
/* SECTION articleAlaUne--------------------------- */

#articleAlaUne h1 {
    margin: 8rem 0 5rem;
}

#carouselExampleCaptions h5 {
    text-transform: uppercase;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}

#carouselExampleCaptions p {
    text-decoration: underline;
}

#carouselExampleCaptions {
    margin-bottom: 10rem;
}

/* SECTION dataViz------------------------------------------ */
#dataViz h1 {
    margin-bottom: 5rem;
}

#dataViz h4 {
    /* font-size: 18px; */
    font-family: 'Red+Hat+Display', sans-serif;
    font-weight: lighter;
    text-transform: initial;
}

.graphique {
    position: relative;
    padding: 4rem 4rem;
    margin: 0 0 7rem 0;
}

.graphique::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(110.11deg, rgba(56, 210, 173, 0.47) -20.83%, #005664 25.71%, #142B33 63.59%);
    z-index: -1;
    filter: blur(7.5px);
}



/* SECTION pictoInfo--------------------------- */


.chiffrePicto {
    font-size: 250%;
    margin: 1rem 0;
}

#pictoInfo {
    margin-top: 11rem;
}

.picto {
    padding-top: 3rem;
}

/* SECTION citation---------------------------------- */

#citation {
    font-weight: bold;
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10rem;
}