{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="./asset/css/parallaxe.css">
{% endblock %}

{% block nav %}
{% endblock %}

{% block body %}

<head>
    <title>Flovia - Parallaxe</title>
    <link rel="icon" href="./asset/img/logopictoicone/logoO.svg" />
</head>
<main>
    <div id="title" class="section header">
    <h1>Paris sous les eaux
        ...</h1>
    </div>

    <div id="section1" class="section">
    <div class="text">
        <p>La pire inondation qu’ait connu Paris et l’Île-de-France est celle de mars 1658. Elle a eu lieu après des chutes de neige importantes, des pluies et des gelées qui s’étaient succédées jusqu’à la mi-février. Un brusque réchauffement de la température a provoqué un dégel soudain, les glaces se sont mises à fondre causant une crue. Le point haut a été de 8,96 m à l'endroit du futur pont d'Austerlitz. Les archives communales n'ont pas de sources attestant de cette inondation de 1658. Plus tard, l’inondation de 1872 est documentée par plusieurs gravures du célèbre Dr Launay, chirurgien de profession, citoyen Rueillois, particulièrement actif durant la guerre de 1870</p>
    </div>
    </div>

    <div id="section2" class="section">
    <div class="text">
        <p>La crue de la Seine de 1910, souvent qualifiée de crue centennale, est le plus important débordement connu de la Seine après celui de 16581. Il a touché la plus grande partie de sa vallée et, bien qu'il n'ait pas été très meurtrier, a causé d'importants dommages à l'économie régionale, en particulier à Paris. La Seine a atteint son niveau maximal, 8,62 mètres sur l'échelle hydrométrique du pont d'Austerlitz à Paris, le 28 janvier</p>
    </div>
    </div>

    <div id="section3" class="section">
    <div class="text">
        <p> Elle a affecté de nombreux quartiers de la capitale et de nombreuses villes riveraines du fleuve pendant plusieurs semaines avant et après cette date. La montée des eaux s'est faite en une dizaine de jours, et la décrue en 35 jours environ.

        </p>
    </div>
    </div>

    <div id="section4" class="section">
    <div class="text">
        <p>Cette photo a été prise en 1910, lors de la crue de la Seine à Paris.À cause d’intenses épisodes pluvieux dans la moitié nord de la France, de fin janvier à mi-mars 1910, les débits des cours d’eau augmentent dangereusement, les rivières sortent de leur lit majeur, la Seine se gonfle et provoque des inondations inhabituelles</p>
    </div>
    </div>

    <div id="section5" class="section">
    <div class="text">
        <p>Il y a 6 ans, une crue affectait la Marne, la Seine et l’Aube. Le 4 juin à 2h du matin, la Seine atteignait 6 mètres 10 à Paris, son plus haut niveau depuis les inondations de 1982. Retour sur cette crue atypique de printemps. Une pluviométrie importante à l’origine de la crue
        Le mois de mai 2016 a été le plus arrosé depuis 1960. Le cumul mensuel des pluies a été supérieur à la normale sur l’ensemble du bassin versant amont de la Seine, avec un rapport à la normale de 150 % à 180 % en amont des lacs-réservoirs, et supérieur à 200%, voire 300% sur les bassins intermédiaires</p>
    </div>
    </div>

    <div id="section6" class="section">
    <div class="text">
        <p>Le mois de mai 2016 a été le plus arrosé depuis 1960. Le cumul mensuel des pluies a été supérieur à la normale sur l’ensemble du bassin versant amont de la Seine, avec un rapport à la normale de 150 % à 180 % en amont des lacs-réservoirs, et supérieur à 200%, voire 300% sur les bassins intermédiaires</p>
    </div>
    </div>

    <div id="section7" class="section">
    <div class="text">
        <p>LA CRUE DE 1982
        Après une fin d’année 1981 particulièrement humide et pluvieuse, l’inévitable arrive et l’amont de la Seine se retrouve vite en crue à l’aube de 1982. Le pic de cette dernière atteindra 6,13 mètres sans engendrer de dégâts majeurs, grâce une nouvelle fois aux aménagements déployés plus tôt. Seul bémol : de nombreux foyers seront privés d’électricité les jours suivants..</p>
    </div>
    </div>

    <div id="section8" class="section">
    
    </div>

    <div id="section9" class="section footer">
        <h1>i am footer.</h1>
    </div>
</main>

{% endblock %}

{% block footer %}
{% endblock %}