{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name}}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="./asset/css/actualites.css">
{% endblock %}


{% block body %}
	<!-- Rond bg -->
	<div class="round"></div>

	<div class="round2"></div>
	<!-- Fin Rond bg -->

<section id="titre">
                <div class="container">
                    <div class="row">
                        <div class="col-10">
                            <h1>La montée des eaux nous concerne tous, en témoignent les différents médias. Parcourez ici un échantillon d’informations et des liens traitants de ce sujet.</h1>
                        </div>
                    </div>
                </div>
            </section>

	<!-- Rond bg -->
	<div class="round"></div>

	<div class="round2"></div>
	<!-- Fin Rond bg -->

	<main>
		<section id="solutions">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2>ILS PARLENT DES SOLUTIONS</h2>
					</div>
				</div>
				<div class="row actuarticle">
					<div class="col-6">
						<img class="img-fluid" src="./asset/img/img/actuarticle1.jpg" alt="photo dune du pila - article1">
					</div>
					<div class="col-6 textactu">
						<h3>WE DEMAIN : le défi de la montée des eaux</h3>
						<p class="paraactu">Face à l’inexorable montée des eaux, la journaliste de We Demain Emmanuelle Vibert revient sur les problématiques que connaîtront les communes du littoral français d’ici les prochaines décennies. D'après une étude, d’ici 2100, 10% des propriétés côtières seront potentiellement inondables, des biens achetables que l'on estime entre 10 et 50 milliards d’euros. D’ici à 2050, plus des 5% des transactions dans quelque 80 communes correspondront à des biens qui seront inondables. Entre les années 2016 et 2021, 15 000 habitations vendues seront inondables d’ici 2050 et leurs propriétaires n’en ont peut-être pas conscience. 
						</p>
						<div class="d-flex text-center iconarticle">
							<div>
								<img class="icon" src="./asset/img/logopictoicone/iconpartageblanc.svg" data-bs-toggle="modal" data-bs-target="#Modal1" alt="Picto Partager">
								<p class="partagerEnregistrerText">PARTAGER</p>
							</div>
							<div class="enregistrerIcon">
								<img class="icon2" src="./asset/img/logopictoicone/Iconenregistrementblanc.svg"  data-bs-toggle="modal" data-bs-target="#Modal2" alt="Picto Enregistrer">
								<p class="partagerEnregistrerText">ENREGISTRER</p>
							</div>
						</div>
						<a class="lienactu" id="art2" target="_blank" href="https://www.francetvinfo.fr/monde/environnement/montee-des-eaux/we-demain-le-defi-de-la-montee-des-eaux-pour-les-communes-du-littoral-francais_5186992.html">Être redirigé pour en lire plus</a>
					</div>
				</div>
			</div>
		</section>

		<section id="avenir">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h2>ILS PARLENT DE L'AVENIR</h2>
					</div>
				</div>
				<div class="row actuarticle">
					<div class="col-6 textactu2">
						<h3>Les 126 communes françaises prioritaires</h3>
						<p  class="paraactu">Le gouvernement a publié les noms des 126 communes françaises qui auront l'obligation de s'adapter en priorité à l'érosion du littoral, aggravée par le réchauffement climatique et la pression humaine. Une liste de nouvelles contraintes d'urbanisme qui ne font pas l'unanimité. Avec le recul du trait de côte sur environ un cinquième du littoral français (hors Guyane) selon l'indicateur national de l'érosion côtière, la loi Climat et Résilience de 2021 prévoit de nouvelles dispositions pour les communes en première ligne face à la montée du niveau de la mer et la multiplication des tempêtes et des submersions marines. Avec le recul du trait de côte sur environ un cinquième du littoral français (hors Guyane) selon l’indicateur national de l’érosion côtière...</p>
						<div class="d-flex text-center iconarticle">
							<div>
								<img class="icon" src="./asset/img/logopictoicone/iconpartageblanc.svg" data-bs-toggle="modal" data-bs-target="#Modal1" alt="Picto Partager">
								<p class="partagerEnregistrerText">PARTAGER</p>
							</div>
							<div class="enregistrerIcon">
								<img class="icon2" src="./asset/img/logopictoicone/Iconenregistrementblanc.svg"  data-bs-toggle="modal" data-bs-target="#Modal2" alt="Picto Enregistrer">
								<p class="partagerEnregistrerText">ENREGISTRER</p>
							</div>
						</div>
						<a class="lienactu" id="art3" target="_blank" href="https://www.ouest-france.fr/environnement/rechauffement-climatique/carte-quelles-sont-les-126-communes-classees-prioritaires-face-a-l-erosion-cotiere-36d3930e-cba4-11ec-af12-5edd1098f51b">Être redirigé pour en lire plus</a>
					</div>
					<div class="col-6">
						<img class="img-fluid" src="./asset/img/img/actuarticle2.jpg" alt="photo maison et arbre sous l'eau - article3">
					</div>
				</div>
				<div class="row actuarticle">
					<div class="col-6">
						<img class="img-fluid" src="./asset/img/img/actuarticle3.jpg" alt="photo enfant sur dos d'un sauveteur - article2">
					</div>
					<div class="col-6 textactu">
						<h3>La montée des eaux sera bien plus elevée et rapide que prévu</h3>
						<p  class="paraactu">La Terre connaissant une alternance de périodes de glaciation et de réchauffement, les chercheurs ont examiné des données sur la dernière période interglaciaire, il y a 125.000 ans. Les températures moyennes étaient alors plus élevées qu'actuellement d'environ un degré, mais les changements climatiques des 200 dernières années sont plus rapides, en raison des émissions de gaz à effet de serre de la période industrielle.
							<br>
							En conséquence, l'étude de la dernière période interglaciaire « ne fournit que la fourchette basse des prédictions sur ce qui pourrait se passer », préviennent les auteurs de l'étude...
						</p>
						<div class="d-flex text-center iconarticle">
							<div>
								<img class="icon" src="./asset/img/logopictoicone/iconpartageblanc.svg" data-bs-toggle="modal" data-bs-target="#Modal1" alt="Picto Partager">
								<p class="partagerEnregistrerText">PARTAGER</p>
							</div>
							<div class="enregistrerIcon">
								<img class="icon2" src="./asset/img/logopictoicone/Iconenregistrementblanc.svg"  data-bs-toggle="modal" data-bs-target="#Modal2" alt="Picto Enregistrer">
								<p class="partagerEnregistrerText">ENREGISTRER</p>
							</div>
						</div>
						<a class="lienactu" target="_blank" href="https://www.futura-sciences.com/planete/actualites/ocean-rechauffement-climatique-montee-eaux-sera-bien-plus-elevee-rapide-prevu-78203/">Être redirigé pour en lire plus</a>
					</div>
				</div>
			</div>
		</section>

		<section id="plusArticle">
			<div class="container">
				<div class="row text-center">
					<div class="col-4">
						<article class="cardArticleMiniature">
							<img class="img-fluid" src="./asset/img/img/actuarticlepoubelle.jpg" alt="Véhicule de secours dans une zone inondée">
							<p class="textcard">Mardi, 22 novembre 2022 à 15H20</p>
							<h4>La cour des comptes alertent des risques</h4>
							<p class="textcard">La cour des comptes préconise plusieurs pistes de progrès pour améliorer la prévention des risques...</p>
							<div class="d-flex iconactu">
								<a class="lienactu" target="_blank" href="https://www.futura-sciences.com/planete/actualites/ocean-rechauffement-climatique-montee-eaux-sera-bien-plus-elevee-rapide-prevu-78203/">LIRE PLUS</a>
								<div>
									<img class="icon" src="./asset/img/logopictoicone/iconpartageblanc.svg" data-bs-toggle="modal" data-bs-target="#Modal1" alt="Picto Partager">
									<p class="partagerEnregistrerText">PARTAGER</p>
								</div>
								<div class="enregistrerIcon">
									<img class="icon" src="./asset/img/logopictoicone/Iconenregistrementblanc.svg"  data-bs-toggle="modal" data-bs-target="#Modal2" alt="Picto Enregistrer">
									<p class="partagerEnregistrerText">ENREGISTRER</p>
								</div>
							</div>
						</article>
					</div>
					<div class="col-4">
						<article class="cardArticleMiniature">
							<img class="img-fluid" src="./asset/img/img/actuarticlepanneau.jpg" alt="Eclair en ville">
							<p class="textcard">Lundi, 20 juin 2016 à 11h25</p>
							<h4>Les solutions fondées sur la nature</h4>
							<p class="textcard">Dans un contexte de risques croissants liés au changement climatique, l’Agence régionale française...</p>
							<div class="d-flex iconactu">
								<a class="lienactu" target="_blank" href="https://uicn.fr/les-solutions-fondees-sur-la-nature-risques-eau/">LIRE PLUS</a>
								<div class="text-center">
									<img class="icon" src="./asset/img/logopictoicone/iconpartageblanc.svg" data-bs-toggle="modal" data-bs-target="#Modal1" alt="Picto Partager">
									<p class="partagerEnregistrerText">PARTAGER</p>
								</div>
								<div class="enregistrerIcon">
									<img class="icon2" src="./asset/img/logopictoicone/Iconenregistrementblanc.svg"  data-bs-toggle="modal" data-bs-target="#Modal2" alt="Picto Enregistrer">
									<p class="partagerEnregistrerText">ENREGISTRER</p>
								</div>
							</div>
						</article>
					</div>
					<div class="col-4">
						<article class="cardArticleMiniature">
							<img class="img-fluid" src="./asset/img/img/actuarticleinnonde.jpg" alt="homme qui pousse sa voiture sur une route inondée">
							<p class="textcard">Mercredi, 3 février 2016  à 16H32</p>
							<h4>Face aux inondations et pluies torentielles</h4>
							<p class="textcard">Dans un contexte de risques croissants liés au changement climatique et à l’érosion de la biodiversité...</p>
							<div class="d-flex iconactu">
								<a class="lienactu" target="_blank" href="https://www.oxfamfrance.org/climat-et-energie/inondations-pluies-torrentielles-la-lutte-contre-les-changements-climatiques-est-essentielle/">LIRE PLUS</a>
								<div>
									<img class="icon" src="./asset/img/logopictoicone/iconpartageblanc.svg" data-bs-toggle="modal" data-bs-target="#Modal1" alt="Picto Partager">
									<p class="partagerEnregistrerText">PARTAGER</p>
								</div>
								<div class="enregistrerIcon">
									<img class="icon2" src="./asset/img/logopictoicone/Iconenregistrementblanc.svg"  data-bs-toggle="modal" data-bs-target="#Modal2" alt="Picto Enregistrer">
									<p class="partagerEnregistrerText">ENREGISTRER</p>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>

		<section id="video">
			<div class="container">
				<div class="row">
					<div class="col">
						<h2>Découvrir plus en vidéo</h2>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-4">
						<a target="_blank" href="https://www.youtube.com/watch?v=Gy6tmLZYa9w"><img src="./asset/img/img/videominiature1.jpg"></a>
					</div>
					<div class="col-4">
						<a target="_blank" href="https://www.youtube.com/watch?v=oM7SRcj_Utg"><img src="./asset/img/img/videominiature2.jpg"></a>
					</div>
					<div class="col-4">
						<a target="_blank" href="https://www.youtube.com/watch?v=w9VUi4tTm6A"><img src="./asset/img/img/videominiature3.jpg"></a>
					</div>
				</div>
			</div>
		</section>
	</main>

<!---------- Modale 1 PARTAGER ---------->
         <div class="modal fade bd-example-modal-lg" id="Modal1" tabindex="-1" aria-labelledby="ModalLabel1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1 class="modal-title fs-5">Partagez cet article</h1>
                    <p>Si vous aimez cet article, partagez-le avec vos amis..</p>
                    <div class="row justify-content-md-center">
                        <div class="col-lg-2">
                            <a type="button" class="btn btn-primary">Facebook</a>
                        </div>
                        <div class="col-md-auto">
                            <a type="button" class="btn btn-primary">Instagram</a>
                        </div>
                        <div class="col col-lg-2">
                            <a type="button" class="btn btn-primary">Twitter</a>
                        </div>
                    <p>407 partages</p>
                    </div>
                </div>
              </div>
            </div>
          </div>

	<!---------- Modale 2 ENREGISTRER ---------->
        <div class="modal fade modal-lg" id="Modal2" tabindex="-1" aria-labelledby="ModalLabel2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close btn-close-white " data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1 class="modal-title fs-5">Connectez-vous pour enregistrer<br> ce graphique.</h1>
                </div>
                <div class="modal-footer">
                <a href="{{ path('app_profil') }}" type="button" class="btn btn-black">Je me connecte</a>
                </div>
            </div>
            </div>
        </div>
          <!---------- Fin Modale 2 ENREGISTRER ---------->

{% endblock %}
{% block javascripts %}
{% endblock %}